$darkBlue: #084a79;
$twitter: #46d4fe;
$dribbble: #e44885;
$instagram: #a67658;
$silver: #c9c9c9;
$searchBar: #f8f8f8;
$blueGradiant: #1f557eaf;
$blue: #0e578c;
$darkBlue2: #07304e;
$lightBlue: #7ac3f6;
$cardBackground: #f7f7f7;