@import "_var";

@font-face {
    font-family: header;
    src: url("../../font/head.woff2");
}

@font-face {
    font-family: 'cormorant garamond';
    src: url("../../font/Cormorant_Garamond/CormorantGaramond-Light.ttf");
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 88%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

input[type="checkbox"] {
    display: none;
}

.cookie {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    background-color: $darkBlue;
    color: white;
    font-family: header;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    transition: 0.5s;

    .cookieButtons {
        display: flex;
        gap: 10px;
    }

    .cookieOk,
    .cookieMore {
        display: block;
        width: 90px;
        height: 40px;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cookieOk {
        background-color: white;
        color: black
    }

    .cookieMore {
        background-color: transparent;
        border: 2px white solid;
    }

}

#cookieCheck {
    &:checked~.cookie {
        transform: translate(0, 100%);
    }
}

.info {
    background-color: $darkBlue;
    height: 30px;
    color: white;
    font-size: 15px;
    font-family: header;

    >.container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
    }

    p {
        font-size: 12px;
        font-weight: bold;
    }

    .infoIcons {
        height: 100%;
        display: flex;
        margin-left: 10px;

        >li {
            display: block;
            height: 100%;
            width: 30px;
        }

        >li:nth-child(2) {
            border-right: 1px gray solid;
            border-left: 1px gray solid;
        }

        a {
            height: 100%;
            width: 100%;
            display: flex;
            // align-items: center;
            justify-content: center;
        }
    }

    .twitterIcon,
    .dribbbleIcon,
    .instagramIcon {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .twitterIcon {
        transition: 0.4s;

        &:hover {
            background-color: $twitter;
        }
    }

    .dribbbleIcon {
        transition: 0.4s;

        &:hover {
            background-color: $dribbble
        }
    }

    .instagramIcon {
        transition: 0.4s;

        &:hover {
            background-color: $instagram;
        }
    }
}


header {
    height: auto;
    position: sticky;
    top: 0;

    .headerNav {
        width: 100%;
        height: 70px;
        background-color: white;

        >.container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }

        .navLeft {
            width: auto;

            .logo {
                width: 300px;
            }
        }

        .navRight {
            height: 100%;
            font-family: header;
            font-size: 13px;
            font-weight: 500;
            display: flex;
            align-items: center;
            cursor: pointer;

            ul {
                height: 100%;
                display: flex;
                color: $silver;

                .navRightItem {
                    text-transform: capitalize;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-bottom: 2px transparent solid;
                    transition: 0.8s;
                }

                .navRightItem:last-child {
                    text-transform: uppercase;
                }

                .navRightItem:hover:not(.about),
                .navRightItem:first-child {
                    border-bottom: 2px $darkBlue solid;
                    color: black;
                }

                .navRightLink {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    border-right: 2px $silver solid;
                    padding: 0 20px;
                }

                .navRightItem:last-child a {
                    border-right: 2px transparent solid;
                }

                .about {
                    position: relative;

                    &:hover {
                        color: black;

                        .aboutList {
                            border-top: 2px $darkBlue solid;
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    .aboutList {
                        background-color: white;
                        width: 200px;
                        height: 100px;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        border-top: 2px transparent solid;
                        opacity: 0;
                        visibility: hidden;
                        transition: 0.8s;

                        .aboutUL {
                            padding: 0 10px;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: space-around;
                        }

                        .aboutLI {
                            text-transform: capitalize;
                        }

                        .aboutLink:hover {
                            color: black;
                        }
                    }
                }
            }

            .navRightButton {
                height: 100%;
                display: flex;
                align-items: center;

                &:hover .touch {
                    filter: brightness(125%);
                }

                .touch {
                    padding: 10px;
                    background-color: $darkBlue;
                    color: white;
                    border-radius: 3px;

                }
            }

            .navRightSearch {
                color: $silver;
                width: 40px;
                height: 100%;
                position: relative;
                transition: 0.8s;

                &:hover,
                #searchCheck:checked {
                    color: black;
                }


                &:hover .searchBarBox {
                    color: white;
                }

                #searchCheck:checked~.searchBarBox {
                    visibility: visible;
                    opacity: 1;
                }

                .searchIcon {
                    cursor: pointer;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .searchBarBox {
                    position: absolute;
                    top: calc(100% + 20px);
                    right: 0;
                    width: 400px;
                    height: 100px;
                    background-color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    opacity: 0;
                    visibility: hidden;
                    border: 1px lightgray solid;
                    box-shadow: 0 0 15px 1px black;

                    &::after {
                        content: "";
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        border-right: 20px transparent solid;
                        border-left: 20px transparent solid;
                        border-bottom: 20px white solid;
                        position: absolute;
                        bottom: 100%;
                        right: 10px;
                    }

                    .searchBar {
                        height: 50px;
                        width: 250px;
                        padding: 0 10px;
                        color: gray;
                    }

                    input.searchBar {
                        border: 1px lightgray solid;
                    }

                    .searchButton {
                        width: 50px;
                        height: 50px;
                        background-color: $darkBlue;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 20px;
                        transition: 0.8s;

                        &:hover {
                            filter: brightness(150%);
                        }
                    }
                }
            }
        }

    }
}

main {
    height: 100vh;
    background: linear-gradient($blueGradiant, $blueGradiant), url("../../image/hero2-bw.png") no-repeat center center / cover;
    text-transform: capitalize;
    color: white;
    text-align: center;
    font-size: 20px;

    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mainTitle {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .mainTitle p {
        font-size: 1em;
        font-family: header;
    }

    .mainTitle h2 {
        font-size: 4em;
        font-family: 'cormorant garamond';
        font-weight: 100;
    }

    .mainInfo {
        display: flex;
        font-family: header;
        font-weight: 100;
        text-transform: none;

        .infoBox {
            padding: 50px;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            h3 {
                font-family: 'cormorant garamond';
                font-size: calc(2em - 10px);
                font-weight: 200;
            }
            
            p {
                font-size: calc(1em - 4px);
            }
    
            .infoBoxButton {
                height: 50px;
                width: 150px;
                border-radius: 50px;
                align-self: center;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: calc(1em - 5px);
                transition: 0.5s;
                
                .angleRight {
                    opacity: 0;
                    visibility: hidden;
                }

                span, .angleRight {
                    position: relative;
                    transition: 0.5s;
                }

                span {
                    right: 0;
                }

                .angleRight {
                    left: 0;
                }
                
                &:hover {
                    width: 170px;
                    
                    span {
                        right: 10px;
                    }
                    
                    .angleRight {
                        opacity: 1;
                        visibility: visible;
                        left: 10px;
                    }
                }
            }
            
            &:first-child {
                background-color: white;
                color: black;
    
                .infoBoxButton {
                    background-color: $blue;
                    color: white;
                }
            }
        
            &:nth-child(2) {
                background-color: $blue;
            }
        
            &:last-child {
                background-color: $darkBlue2;
            }
    
            &:nth-child(2), &:last-child {
                .infoBoxButton {
                    background-color: white;
                    color: black
                }
            }

        }
    }
    
}

.test {
    width: 100%;
    height: 500vh;
    background-color: red;
}